/* Initial default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
}

body {
  color: white;
  /* background-color: rgba(0, 0, 0, 0.85); */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.548),
    rgba(0, 0, 0, 0.85)
  );
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  text-transform: uppercase;
}

header,
main,
footer {
  padding: 0 calc(100vw / 25);
}

.section-works,
.section-skills,
.section-profile {
  margin-top: 32px;
}

/* header */
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://cdn.pixabay.com/photo/2016/11/14/04/06/grandmother-1822560__480.jpg);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

header .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

header .row:first-of-type {
  padding-top: 12px;
}

header .logo {
  width: 30%;
  border-radius: 50%;
  opacity: 0.5;
}

header .header-nav {
  display: flex;
  align-items: center;
  text-transform: uppercase; /* Check later */
}

header .header-nav li:not(:last-of-type) {
  margin-right: 18px;
}

header .title {
  position: absolute;
  top: 50%;
}

/* main */
main {
}

/* section works */
.section-works {
}

.section-works .row:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-works .row:nth-child(2) {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-works .column {
  margin: 18px 0;
  width: 300px;
  border-radius: 18px;
  background-color: rgb(54, 54, 54);
  position: relative;
}

.section-works .column::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 18px;
  background-color: white;
  z-index: -1;
}

.section-works .column::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 18px;
  background-color: white;
  z-index: -2;
  filter: blur(10px);
}

.section-works .column::before,
.section-works .column::after {
  background: linear-gradient(
    235deg,
    /* rgba(61, 255, 54, 0.7), */ rgba(235, 62, 91, 0.7),
    rgb(54, 54, 54),
    rgba(235, 62, 91, 0.7)
  );
}

.section-works .column .work-image {
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
  vertical-align: bottom;
}

.section-works .column .work-image .work-01 {
  width: 100%;
}

.section-works .column .content {
  display: flex;
  flex-direction: column;
}

.section-works .column .content h3 {
  margin: 18px 0;
  align-self: center;
}

.section-works .column .content a.btn {
  border: 1px solid white;
  margin: 18px 0;
  align-self: flex-end;
  border-radius: 18px;
  padding: 9px;
}

/* section skills */
.section-skills {
}

.section-skills .row:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-skills .row:nth-child(2) {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-skills .column {
  background-color: red;
}

/* section profile */
.section-profile {
}

.section-profile .row:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-profile .row:nth-child(2) {
  height: 50vh;
}

/* footer */
footer {
  height: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.85);
}
